<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create a note</title>
  <link rel='stylesheet' type='text/css' href='style.css'>
</head>

<body>
  <div class="container">
    <h1>Create a Note</h1>
    <p>
      <a href="/">Home</a> / <a href="/list">List</a>
    </p>
    <p>
      <form action="/note" method="post">

        <input name="name" id="name" type="text" placeholder="Enter your Name" required><br /><br />
        <textarea id="body" name="body" class="text_area" rows="10" placeholder="Enter a Note"
          required></textarea><br />

        <input type="submit" class="submit_btn" value="Post Entry">
      </form>
    </p>
  </div>

  <script src="script.js"></script>


</body>

</html>