<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Guestbook</title>
        <link rel='stylesheet' type='text/css' href='style.css'>
    </head>
    <body>
        <div class="container">
            <h1>Guestbook</h1>
            <p>
                Click <a href="/create">Here</a> To add your own entry to the guestbook <br/><br/>
                - or -<br/><br/>
                Click <a href="/list">here</a> to read notes left by others
            </p>
        </div>
        
    </body>
</html>