<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guestbook</title>
    <link rel='stylesheet' type='text/css' href='style.css'>
</head>

<body>
    <div class="home_container">
        <div class="content">
            <header>
                <div>Logo</div>
            </header>
            <div class="left_content">
                <h1>Christmas Wishes</h1>
                <p>
                    Have you been good this year? Rejoice! You may send your Christmas wishes to Santa this year electronically!
                </p>
                <div>
                    <button>Make a Wish</button>
                <button>See other's wishes</button>
                </div>
                
            </div>
            <footer>
                <a href=""><img src="github_icon.png" height="30px" alt="github_logo"></a><br/>
                &copy; Copyright 2020. Team C
            </footer>
        </div>
        <video height="100%" autoplay muted loop id="bgVideo">
            <source src="bg_video.mp4" type="video/mp4">
        </video>
    </div>
   

</body>

</html>