<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Make a Wish</title>
    <link rel='stylesheet' type='text/css' href='style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
    <div class="home_container">
        <div class="content">
            <header>
                <div class=""><a href="/"><img src="logo.png" class="logo" height="100px" alt="home_logo"></a></div>
                <h3>Ho! Ho!</h3>
            </header>
            <div class="left_content">
                <h1>Christmas Wishes</h1>
                <p>
                    Have you been good this year? Rejoice! You may send your Christmas wishes to Santa this year electronically!
                </p>
                <div class="home_buttons">
                    <a href="/create" class="btn first">Make a Wish</a>
                    <a href="/list" class="btn first">See other's wishes</a>
                </div>
                
            </div>
            <footer>
                <a href="https://github.com/wadp413-January/week-1-assignment-team-c"><img src="github_icon.png" height="30px" alt="github_logo"></a><br/>
                &copy; Copyright 2020. Team C
            </footer>
        </div>
        <video height="100%" autoplay muted loop id="bgVideo">
            <source src="bg_video.mp4" type="video/mp4">
        </video>
    </div>
   

</body>

</html>